#title {
  background-color: red;
  display: flex;
  justify-content: center;
  border: 3px solid black;
  padding: 1.2em;
}

.massive-text {
  font-size: 1.5em;
  font-weight: 900;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.count-text {
  font-size: 3em;
  font-weight: bold;
  color: dark gray;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

#countdown-section {
  content: "";
}

.countdown-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  overflow: hidden;
  background-color: gray;
}
